html {
    font-family: 'Open Sans', sans-serif;
}

.img-one {
    width: 100%;

}

header {
    text-align: center;
    color: gray;
    font-size: 24pt;
}

nav {
    text-align: center;
}
.quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-style: italic;
    text-align: center;
    color: gray;

}
.contact-grid {
    display: grid;
    grid-auto-columns: auto;
}
h2 {
    color: gray;
    text-align: center;
}

.contact1 {
    grid-template-columns: 1;
    grid-template-rows: 1;
}
.linkedin {
    color: blue;
    text-align: center;
    text-decoration: none;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.copyright {
    font-size: 8;
    text-align: center;
}